# ignore env files
*env/

# ignore python's compiled files
*.pyc

# ignore directory based environment variables
.env

# ignore sqlite database file
*.db

# ignore coverage reports
.coverage

# ignore OS system files
.DS_Store