#create-user-btn {
    background-color: #0379CE;
    color: #ffffff;
}

#jumbo-container {
    margin-top: 10%;
    width: 40%;
}

.jumbotron form h2 {
    text-align: center;
}

.form-field-80 {
    width: 80%;
}