{% extends "base.html" %}

{% block content %}
	<div class="row">
		<div id="landing_div" class="col-md-12">
            <div class="col-md-12">
				<!-- Standard button -->
				<button id="signin_btn" type="button" class="btn btn-default pull-right">Sign In</button>
			</div>
            <div class="col-md-12">
                <h1 id="app_name">Bug-Free-Funicular</h1>
            </div>
            <div id="major_tagline" class="col-md-12">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra</p>
            </div>
            <div id="minor_tagline" class="col-md-12">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. </p>
            </div>
            <div id="signup_div" class="col-md-12">
                <button class="btn btn-default center-block" type="submit">Sign Up</button>
            </div>
		</div>
	</div>
{% endblock %}	