{% extends "base.html" %}
{% from "macros/_formhelpers.html" import render_field%}

{% block content %}
<div id="jumbo-container" class="container">
    <div class="row">
        <div class="jumbotron">
            <form method="post" action="/signup">
                <h2>Join Pencer</h2>
                <div class="form-group">
                    {{ render_field(form.username, class="center-block form-field-80") }}
                </div>
                <div class="form-group">
                    {{ render_field(form.password, class="center-block form-field-80") }}
                </div>
                <div class="form-group">
                    {{ render_field(form.password2, class="center-block form-field-80") }}
                </div>
                <div class="form-group">
                    <input class="center-block form-field-80" type="submit" value="Sign Up" id="create-user-btn">
                </div>
            </form>
            <p>Already have an account? <a href="/signin">Sign In</a>.</p>
        </div> 
    </div>
</div>   
{% endblock %}